 .forget-main {
     background-image: url(../assets/background.jpeg);
     background-size: 100%;
     background-repeat: no-repeat;
     padding-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .forget-div1 {
     height: 800px;
     width: 1210px;
     padding: 20px 20px 20px 20px;
     align-items: center;
 }
 
 .forget-h1 {
     margin-top: 20%;
     font-size: 48px;
     font-weight: 700;
     line-height: 55px;
     margin-left: 18%;
     color: #3D3D3D;
     height: 124px;
     width: 800px;
     text-align: center;
 }
 
 .forget-div2 {
     margin-top: -3%;
     width: 600px;
     height: 369px;
     background: #FFFFFF;
     border-radius: 10px;
     background-color: #fff;
     border: 0.5px solid #ccc;
     animation-name: slideIn;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
     align-items: center;
     margin-left: 26%;
 }
 
 .forget-p {
     font-size: 16px;
     line-height: 30px;
     color: #575A73;
     text-align: center;
     margin-left: 12%;
     margin-right: 12%;
 }
 
 input [type="email"] {
     width: 60%;
     height: 30px;
     margin-left: 18%;
     margin-top: 10px;
     padding: 10px;
     margin-bottom: 10px;
     border: 2px solid #F6F6F6;
     background-color: #F6F6F6;
     border-radius: 4px;
     font-size: 16px;
 }
 
 .forget-button {
     margin-top: 7%;
     font-family: "Open Sans", sans-serif;
     margin-left: 30%;
     font-size: 16px;
     font-weight: 700;
     line-height: 38px;
     text-align: center;
     background-position: 0% 0%;
     color: #FFFFFF;
     height: 50px;
     width: 152px;
     position: relative;
     display: block;
     cursor: pointer;
     box-sizing: border-box;
     border-radius: 25px;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     text-decoration: none;
     color: white;
     background-color: #1c545f;
     width: 250px;
 }