* {
    font-family: "Open Sans", sans-serif;
}

.home {
    margin-top: 0%;
    padding-top: 250px;
    background-image: url(../assets/background.jpeg);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 160px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
}
.home-left2 h1{
    color: #3d3d3d;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .home {
        background-image: url(../assets/mobile-header.png);
        background-size: 80%;
        padding-top: 100px;
        /* Adjust the value to reduce the top padding */
        padding-bottom: 100px;
    }
}

.home-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1%;
}

.home-left {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInFromLeft;
}

.home-left1 {
    color: #fff;
    margin: auto;
    max-width: 300px;
    height: 206px;
    color: black;
    margin: 0 145px 0 145px;
}


.home-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: scaleIn;
}

.home-right-img {
    margin-top: -5%;
    width: 90%;
    height: auto;
    object-fit: cover;
}

@media (max-width:767px) {
    .home-right-img {
        margin-top: -1%;
        width: 50%;
    }
}


/* Animation */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .home-1 {
        flex-direction: column;
    }
    .home-left,
    .home-right {
        width: 100%;
    }
    .home-right {
        margin-top: 20px;
    }
}

@media (min-width: 769px) {
    .home-left {
        width: 50%;
    }
    .home-right {
        width: 50%;
    }
}

.home-left1-button {
    padding: 10px 20px;
    background-color: #b22222;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 12.8px;
    text-decoration: none solid rgb(255, 255, 255);
    letter-spacing: 0.5px;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 300px;
    padding: 5px 22px 5px 22px;
    display: flex;
    justify-content: center;
}

link {
    text-decoration: none;
    color: #FFFFFF;
}

.home-2 {
    margin-top: 0;
    background-color: #FBF8F2;
    padding: 50px 0;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-1 {
    width: 33.3333%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.h2-row {
    color: #1c545f;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    /* Added margin to create spacing below the heading */
}

.p-row {
    color: #1c545f;
    font-size: 16px;
    margin-top: 0;
    margin-left: 5%;
}

@media (max-width: 767px) {
    .h2-row {
        font-size: 20px;
    }
    .p-row {
        text-align: center;
    }
}

.p-row2 {
    color: #1c545f;
    font-size: 16px;
    line-height: 1.5;
    margin-left: -10%;
}

.container-1 {
    margin-top: -30%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-3 {
    background: #fff;
    padding: 80px 0px 30px 0;
    position: relative;
    margin-top: 60px;
}

.row-2 {
    width: 33.333333%;
    text-align: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.h2-row2 {
    text-align: center;
    color: #1C545F;
}

.p-row2 {
    text-align: center;
    margin-left: 10%;
}

@media (max-width: 767px) {
    .h2-row2 {
        font-size: 20px;
        /* Display two cards per row on smaller screens */
    }
    .p-row2 {
        text-align: center;
    }
}

.p-row2 {
    color: #807F7D;
}

.img-2 {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.home-3 {
    margin-top: -2%;
}

.home-4 {
    background-image: url(../assets/background-2.png);
    background-size: 100%;
    height: 400px;
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 160px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
}

.container-home4 {
    align-items: center;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    content: " ";
}

.container-2-home4 {
    width: 668px;
    height: 230px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #555555;
    background-color: #fff;
    margin: 100px 64px 100px 64px;
    padding: 30px 0 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px;
}

.home4-data {
    align-items: center;
}

.home-4 .container-home4 .container-2-home4 .home4-data h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.home4-a {
    color: #EB4553;
}

.p-home4 {
   text-align: center;
}

.home4-button {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none solid rgb(85, 85, 85);
    height: 100px;
    width: 668px;
    word-spacing: 0px;
    display: block;
    color: #555555;
}

.button-home4 {
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    white-space: 1px;
    background-position: 0% 0%;
    color: #FFFFFF;
    background-color: #1C545F;
    height: 50px;
    width: 152px;
    border: 5px solid #1C545F;
    position: relative;
    display: block;
    cursor: pointer;
    transform: none;
    box-sizing: border-box;
    border-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-decoration: none;
    margin-top: 6%;
    margin-left: 39%;
}

@media (max-width: 767px) {
    .row-1 {
        width: 50%;
        /* Display two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .row-1 {
        width: 100%;
        /* Display one card per row on even smaller screens */
    }
}

@media (max-width: 767px) {
    .home4 {
        background-size: contain;
        background-position: center;
        padding-bottom: 0;
        width: 100%;
        margin-bottom: -100%;
    }
    .home4-data {
        margin-top: 10%;
        text-align: center;
    }
    .home4-data h2 {
        font-size: 14px;
    }
    .container-2-home4 {
        width: 300px;
        height: 200px;
    }
    .home4-data .p-home4 {
        font-size: 12px;
        margin-left: 5px;
    }
    .home4-button {
        display: flex;
        justify-content: center;
    }
    .button-home4 {
        margin-top: 30px;
        margin-left: -55%;
        width: 150px;
        height: 45px;
    }
    .home4-button a {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .row-2 {
        width: 50%;
        /* Display two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .row-2 {
        width: 100%;
        /* Display one card per row on even smaller screens */
    }
}

@media (max-width:767px) {
    .container-home4 {
        max-width: 100%;
    }
}