.submitted-data-div2 {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    border: 1px solid #DDDDDD;
    display: flex;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 17px 17px;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    translate: 0px 100px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.submitted-data-div2>div {
    display: flex;
    margin: auto;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px;
    width: 100%;
}

.left-container {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.h1-left-container {
    margin: 0.67em 0;
    font-family: inherit;
    line-height: 1.1;
    text-align: initial;
}

.left-container>p {
    width: 44.9%;
    text-align: initial;
}

.right-container {
    width: 50%;
    text-align: center;
}